<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>idiosync</title>
  </head>
  <body>
    <div id="root"></div>
    <%= javascript_pack_tag 'application' %>
    <%= react_component("index", {title: "index component"}, {prerender: false}) %>
  </body>
</html>
